* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Monosten';
  font-style: normal;
  font-weight: normal;
  src: local("monosten a"),
       url("/assets/fonts/Monosten-A-webfont.eot") format("eot"),
       url("/assets/fonts/Monosten-A-webfont.ttf") format("ttf"),
       url("/assets/fonts/Monosten-A-webfont.svg") format("svg"),
       url("/assets/fonts/Monosten-A-webfont.woff") format("woff"),
       url("/assets/fonts/Monosten-A-webfont.woff2") format("woff2");
}

body {
  font-family: "Monosten", monospace;
  background: #0E1419;
  color: #e2e1e1;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Animations */

@keyframes fadein {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes slidedown {
  from {
    top: 30px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* Global */

header,
section,
aside {
  width: 75%;
  max-width: 1900px;  
  margin: 0 auto;
}

@media (max-width: 780px) {
  header,
  section,
  aside {
    width: auto;
  }
  header,
  aside {
    padding: 7%;
  }
}

/* Header */

header {
  margin: 30vh auto 20vh auto;
}
header h1,
header p {
  font-size: 1.3rem;
  padding-bottom: 1.3em;
  max-width: 650px;
}
header h1 {
  color: #f4a493;
  font-weight: normal;
  padding-bottom: .3em;
}
header [itemprop="jobTitle"] {
  color: #61676c;
}

@media (max-width: 780px) {
  header {
    margin-top: 70px;
    margin-bottom: 0;
  }
  header h1,
  header p {
    font-size: 1.1rem;
  }
}

/* Fadeins */

header h1 {
  animation: fadein 0.6s 0.6s both ease-in;
}
header [itemprop="jobTitle"] {
  animation: fadein 0.6s 1s both ease-in;
}
header p {
  animation: fadein 0.6s 1.6s both ease-in;
}
section {
  animation: fadein 0.6s 2.4s both ease-in;
}
aside {
  animation: fadein 0.6s 2.4s both ease-in;
}

/* Contact details */

@media (min-width: 780px) {
  aside {
    text-align: right;
    margin-top: 3%;
  }
  aside a {
    margin-left: 5px;
  }
  aside [itemprop="email"] {
    float: left;
  }
}

.icon {
  vertical-align: middle;
  position: relative;
  top: -1px;
}

aside a:hover {
  color: #1D7CE6;
}

aside span {
  color: #61676c;
  margin-right: 15px;
}

@media (max-width: 780px) {
  aside a {
    display: block;
  }
  aside span {
    display: block;
    margin: 30px 0 10px;
  }
}

/* Work */

section {
  position: relative;
  z-index: 2;
}
section div {
  transition: opacity 2.2s;
  opacity: 0;
}
section div.loaded {
  opacity: 1;
}
section a {
  color: #1D7CE6;
}
section a:hover {
  text-decoration: underline;
}
section span {
  font-size: 0.7rem;
  display: block;
  margin-top: 10px;
  color: #61676c;
}
section img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  position: relative;
  z-index: 2;
  transform: translatez(0);
}
section div {
  margin-bottom: 80px;
  font-size: 0.9rem;
}
section p {
  max-width: 700px;
  margin: 0 auto;
}

@media (max-width: 780px) {
  section div {
    margin-bottom: 50px;
  }
  section p {
    padding: 0 7%;
  }
}

/* Footer */

footer {
  text-align: center;
  margin-top: 120px;
  padding-bottom: 120px;
  background: #070D12;
}
footer a {
  display: block;
}
footer h3 {
  color: #61676c;
  font-size: 1rem;
  font-weight: normal;
  padding: 80px 0 0;
}
footer .logo {
  margin-top: 80px;
  margin-bottom: 30px;
}

/* Skills */

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 45px 7% 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.list li {
  flex-grow: 0;
  padding: 15px 30px;
  list-style: none;
  width: 20%;
  box-sizing: border-box;
}

@media (max-width: 780px) {
  .list li {
    width: 50%;
  }
}

@media (min-width: 780px) {
  .list--medium li {
    width: 25%;
  }

  .list--large li {
    width: 20%;
  }
}

/* Pixels */

#pixels {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: ' ';
  z-index: 0;
  pointer-events: none;
}
.p {
  background-color: #000;
  width: 2px;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 200px;
}